.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .titulo_col, .columna {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .titulo_col {
    background-color: #f2f2f2;
  }
  
  .fila:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .fila:hover {
    background-color: #ddd;
  }
  