.campus {
    margin: 80px auto;
    width: 90%;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .section:hover {
    transform: translateY(-5px);
  }
  
  .section.reverse {
    flex-direction: row-reverse;
  }
  
  .gallery-img {
    width: 40%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .gallery-text {
    width: 50%;
    line-height: 1.6;
    text-align: left;
  }
  
 .section h4 {
    color: #333;
    margin-bottom: 10px;
  }
  
 .section p {
    color: #555;
  }
  
  /*-----Media Query-----*/
  
  @media (max-width: 800px) {
    .section {
      flex-direction: column;
      text-align: center;
    }

    .section.reverse{
      flex-direction: column;
      text-align: center;
    }
  
    .gallery-img,
    .gallery-text {
      width: 100%;
    }
  
    .gallery-text {
      margin-top: 15px;
    }
  }