.title {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin: 70px 0 30px;
    align-items: center;
}

.title h2{
    font-size: 32px;
    color: #000F38;
}

.title h3{
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #29a021;
}

@media (max-width: 800px){
  
    .title{
        flex-basis: 100%;
    }

}
