.about-container {
    display: flex;
    width: 100%;
    height: 700px;
    padding-top: 50px;
}

.left-column {
    flex: 1;
    align-items: center;
    position: relative;
}

.left-column img {
    width: 310px;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
    position: absolute;
}

.left-column .column-image {
    top: 10px;
    left: 0;
}

.left-column .column-image:last-child {
    top: 100px;
    left: 340px;
}

.left-column .circle-img:first-child {
    content: ' ';
    border: 1px solid #29a021;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    position: absolute;
    top: -60px;
    left: 200px;
    z-index: -10;
}

.left-column .circle-img {
    content: ' ';
    border: 1px solid #29a021;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    position: absolute;
    bottom: 60px;
    left: 260px;
    z-index: -10;
}

.right-column {
    flex: 1;
    text-align: center;
    padding: 20px;
    position: relative;
}

.right-column .decorative-circles {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    content: ' ';
}

.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #29a0213e;
}

.circle:nth-child(1) {
    top: 0;
    right: 0px;
}

.circle:nth-child(2) {
    top: 40px;
    right: 40px;
}

.circle:nth-child(3) {
    top: 80px;
    right: 80px;
}

.circle:nth-child(4) {
    top: 80px;
    right: 0px;
}

.circle:nth-child(5) {
    top: 120px;
    right: 40px;
}

.circle:nth-child(6) {
    top: 160px;
    right: 80px;
}

/*-----------*/

.right-column h2 {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #141414;
}

.right-column .title-block {
    display: block;
    font-size: 42px;
}

.right-column p {
    font-size: 18px;
    line-height: 1.6;
    color: #313131;
    max-width: 800px;
    margin-bottom: 50px;
    text-align: justify;
}

.right-column #subtitle-text {
    display: block;
    font-size: 24px;
    margin: 20px 20px 20px 0;
    text-align: center;
}

.right-column .props-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.right-column .prop {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    font-size: 18px;
}

.right-column .prop .circle {
    background-color: #29a02132;
    border-radius: 100px;
    position: absolute;
    width: 50px;
    height: 50px;
    left: -20px;
    top: -10px;
    z-index: -10;
}

.right-column .prop img {
    max-width: 50px;
}

.left-column .column-image{
    transition: transform 0.3s ease, filter 0.3s ease;
}

.left-column .column-image:hover {
    transform: scale(1.1); 
    filter: brightness(1.1); 
}

#separador {
    border: 1px solid rgba(169, 169, 169, 0.415);
    margin-top: 30px;
}

#btn-right-column {
    margin-top: 40px;
    padding: 15px 30px;
    border-radius: 100px;
    background-color: #29a021;
    border: 0px;
    color: white;
    font-size: 16px;
}

#btn-right-column:hover {
    background-color: #186713dd;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 1700px) {
    .about-container {
        height: auto;
        margin-bottom: 50px;
    }

    .left-column .column-image {
        width: 290px;
        top: 0;
        left: 0;
    }

    .left-column .column-image:last-child {
        top: 300px;
        left: 250px;
    }

    .left-column .circle-img:first-child {
        top: -60px;
        left: 170px;
    }

    .left-column .circle-img {
        top: 570px;
        left: 190px;
    }

    .right-column {
        padding: 15px;
    }

    .right-column h2 {
        font-size: 36px;
    }

    .right-column .title-block {
        font-size: 42px;
    }

    .right-column p {
        font-size: 17px;
        word-wrap: break-word;
    }

    .right-column .props-list {
        flex-direction: column;
        gap: 20px;
    }

    .right-column .prop {
        gap: 15px;
    }

    #btn-right-column {
        width: 200px;
        font-size: 18px;
        padding: 12px 0;
    }

}

@media (max-width: 1450px) {
    .about-container {
        height: auto;
        margin-bottom: 50px;
        padding-top: 0;
    }

    .left-column img {
        width: 250px;
    }

    .left-column .column-image:last-child {
        top: 280px;
        left: 150px;
    }

    .left-column .circle-img:first-child {
        top: -70px;
        left: 170px;
        z-index: -10;
    }

    .left-column .circle-img {
        top: 560px;
        left: 80px;
    }

    .right-column {
        padding: 15px;
    }

    .right-column h2 {
        font-size: 36px;
    }

    .right-column .title-block {
        font-size: 30px;
    }

    .right-column p {
        font-size: 16px;
    }

    .right-column #subtitle-text {
        font-size: 22px;
    }

    .right-column .props-list {
        flex-direction: column;
        gap: 35px;
    }

    .right-column .prop {
        gap: 5px;
    }

    .right-column .prop .circle {
        height: 40px;
        width: 40px;
    }

    .right-column .prop .prop-text {
        gap: 5px;
        font-size: 18px;
    }

    .right-column .icon-prop-list {
        width: 40px;
    }

    #btn-right-column {
        width: 100%;
        font-size: 18px;
        padding: 12px 0;
    }
}

@media (max-width: 1100px) {
    .left-column {
        display: none;
    }

    .left-column img {
        width: 200px;
    }

    .right-column h2 {
        font-size: 30px;
    }

    .right-column .title-block {
        font-size: 26px;
    }

    .right-column p {
        font-size: 14px;
    }

    .right-column .props-list {
        gap: 30px;
    }

    .right-column .prop {
        gap: 10px;
    }

    .right-column .prop .props-text {
        font-size: 20px;
    }

    #btn-right-column {
        width: 200px;
        font-size: 16px;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .about-container {
        padding-top: 20px;
    }

    .left-column img {
        width: 180px;
    }

    .right-column h2 {
        font-size: 26px;
    }

    .right-column .title-block {
        font-size: 22px;
    }

    .right-column p {
        font-size: 12px;
    }

    .right-column .props-list {
        flex-direction: column;
        gap: 15px;
    }

    .right-column .prop {
        gap: 5px;
    }

    #btn-right-column {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    max-height: 80vh;
    max-width: 500px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.modal-scroll-area {
    overflow-y: auto;
    flex-grow: 1;
    padding-right: 10px;
}

.modal-scroll-area::-webkit-scrollbar {
    width: 8px;
}

.modal-scroll-area::-webkit-scrollbar-thumb {
    background-color: rgba(41, 160, 33, 0.5);
    border-radius: 10px;
}

.modal-close {
    position: absolute;
    top: 1px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.modal-close:hover {
    color: #333;
}

.modal-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #141414;
    text-align: center;
}

.names-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.names-list li {
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: #333;
    text-align: center;
}

.names-list li:last-child {
    border-bottom: none;
}

.names-list li:first-child {
    border-top: 2px solid #29a021;
}

.divParticipants {
    border: 2px solid #29a021, ;
    border-radius: 20px;
    margin-bottom: 14px;
}

.divParticipants h3 {
    margin-top: 10px;
    margin-bottom: 2px;
    padding-bottom: 5px;
}