.testimonials {
    margin: 25px auto;
    padding: 0 4em;
    position: relative;
}

.next-btn,
.back-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.next-btn {
    right: 0;
}

.back-btn {
    left: 0;
}

.slider {
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 300%;
    transition: 0.5s;
}

.dot {
    list-style: none;
}

#use-case-ul {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    list-style: disc;
    color: #29a021;
}

.use-case-ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0;
    font-size: larger;
}

#use-case-ul span {
    flex: 1;
    width: 100%;
    font-size: 16px;
    color: black;
}

.slider ul li {
    width: 50%;
    padding: 20px;
}

.slide {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 30px 40px;
    border-radius: 10px;
    color: black;
    line-height: 1.4;
}

.user-info {
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.slide p {
    font-size: 18px;
}

.user-info h3 {
    font-size: 30px;
    margin: auto;
    color: #29a021;
}

/*-----Media Query-----*/

/* Para pantallas menores a 1200px */
@media (max-width: 1200px) {

    .next-btn,
    .back-btn {
        padding: 10px;
        width: 50px;
    }

    .testimonials {
        padding: 0 2em;
    }

    .slider ul li {
        width: 50%;
    }

    .slide {
        padding: 20px 30px;
    }

    .user-info h3 {
        font-size: 24px;
    }

    .slide p {
        font-size: 16px;
    }
}

/* Para pantallas menores a 800px */
@media (max-width: 800px) {
    .testimonials {
        margin: 25px auto;
        padding: 0 1em;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slider {
        overflow: hidden;
        width: 100%;
    }

    .slider ul {
        display: flex;
        width: 300%;
        transition: 0.5s;
    }

    .slider ul li {
        width: 100%;
        padding: 20px;
    }

    .slide {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        padding: 15px 20px;
        border-radius: 10px;
        color: black;
        line-height: 1.4;
    }

    .user-info h3 {
        font-size: 20px;
    }

    .slide p {
        font-size: 16px;
    }

    /* Contenedor para los botones */
    .buttons-container {
        display: flex;
        justify-content: center;
        gap: 10px; /* Espacio entre botones */
        margin-top: 15px; /* Espacio entre el slider y los botones */
    }

    .next-btn, .back-btn {
        position: relative;
        width: 45px;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
    }
}


/* Para pantallas menores a 660px */
@media (max-width: 660px) {
    .testimonials {
        padding: 0 1em;
    }

    .slide {
        padding: 10px 15px;
    }

    .slide:active {
        cursor: grabbing;
    }

    .user-info h3 {
        font-size: 18px;
    }

    .slide p {
        font-size: 13px;
    }

    #use-case-ul {
        display: none;
    }
}