.title {
    font-size: 15px;
    font-weight: 600;
    margin: 70px 0 30px;
    align-items: center;
    justify-content: space-between;

}

.title h2{
    font-size: 32px;
    color: #000F38;
    margin: 10px 0;
    max-width: 400px;
}

.title h3{
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #29a021;
}
