.programs{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.text {
    margin-bottom: 80px; /* Espacio entre el texto y las imágenes */
}

.text p{
    font-size: 18px;
}

.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.programs-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre las imágenes */
}


.program{
    flex-basis: 31%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caption{
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 50, 20, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.program:hover .caption{
    opacity: 100%;
    padding-top: 0;
}

/*-----Media Query-----*/

@media (max-width: 650px){
  
    .programs .programs-container{
        flex-direction: column;
    }

    .program{
        flex-basis: 100%;
        margin: 20px;
    }

}