.programs {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.text {
    margin-bottom: 80px;
}

.text p {
    font-size: 18px;
}

/* Contenedor de los programas */
.programs-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas en pantallas grandes */
    justify-content: center;
}

/* Estilos de cada elemento */
.program {
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

.program img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/* Estilos del caption */
.caption {
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 50, 20, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
    font-size: 18px;
}

.caption h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.program:hover .caption {
    opacity: 1;
    padding-top: 0;
}

/* Botón dentro del caption */
.caption-button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.caption-button:hover {
    background-color: #218838;
}

/* Responsividad */
@media (max-width: 1024px) {
    .programs-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .programs-container {
        grid-template-columns: repeat(1, 1fr);
        /* 1 columna en móviles */
        justify-items: center;
    }

    .program {
        width: 400px;
        height: 350px;
    }

    .programs {
        margin-top: 0;
    }
}

@media (max-width: 508px) {
    .programs-container {
        grid-template-columns: repeat(1, 1fr);
        /* 1 columna en móviles */
        justify-items: center;
    }

    .program {
        width: 300px;
        height: 300px;
    }

    .programs {
        margin-top: 0;
    }
}